{
  "repositoryUrl": "git@github.com:phoebus-84/noctule.git",
  "dryRun": false,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
  ],
  "branches": ["main"]
}